@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
@using Volo.Abp.PermissionManagement.Localization

<MudDialog @bind-Visible="_isVisible" MaxWidth="MaxWidth.Large" FullWidth="true">
    <TitleContent>@L["Permissions"] - @_entityDisplayName</TitleContent>
    <DialogContent>
        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-2">
            <MudTextField T="string" Value="@_permissionGroupSearchText" ValueChanged="OnPermissionGroupSearchTextChangedAsync" Placeholder="@L["Search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Margin="Margin.Dense" Style="max-width:300px" />
            <MudCheckBox T="bool" Value="@GrantAll" ValueChanged="@GrantAllAsync" Disabled="_selectAllDisabled" Indeterminate="@GrantAny">@L["SelectAllInAllTabs"]</MudCheckBox>
        </MudStack>

        @if (_groups != null && _groups.Any())
        {
            <MudTabs @key="_groups" Position="Position.Start" Rounded="true" Border="true" ActivePanelIndexChanged="@((i) => OnTabChangedByIndex(i))">
                @foreach (var group in _groups)
                {
                    <MudTabPanel Text="@($"{group.DisplayName} ({group.Permissions.Count(x => x.IsGranted)})")">
                        <MudStack Class="pa-2" Style="height:400px; overflow-y:auto">
                            <MudCheckBox T="bool" Value="@(group.Permissions.All(x => x.IsGranted))" ValueChanged="@(b => GroupGrantAllChanged(b, group))" Disabled="@(IsPermissionGroupDisabled(group))">@L["SelectAllInThisTab"]</MudCheckBox>
                            <MudDivider />
                            @foreach (var permission in group.Permissions)
                            {
                                <div style="@($"margin-inline-start: {GetPermissionDepthOrDefault(permission.Name) * 20}px")">
                                    <MudCheckBox T="bool" Value="@permission.IsGranted" ValueChanged="@(async (b) => await PermissionChanged(b, group, permission))" Disabled="@(IsDisabledPermission(permission))">@GetShownName(permission)</MudCheckBox>
                                </div>
                            }
                        </MudStack>
                    </MudTabPanel>
                }
            </MudTabs>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseModal">@L["Cancel"]</MudButton>
        <MudButton Color="Color.Primary" OnClick="SaveAsync">@L["Save"]</MudButton>
    </DialogActions>
</MudDialog>
