@using Volo.Abp.PermissionManagement.Localization
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase

<MudDialog @bind-Visible="_isVisible" MaxWidth="MaxWidth.ExtraLarge" FullWidth="true">
    <TitleContent>@L["ResourcePermissions"] - @ResourceDisplayName</TitleContent>
    <DialogContent>
        @if(HasAnyResourcePermission && HasAnyResourceProviderKeyLookupService)
        {
            <div class="d-grid gap-2 mb-2 d-md-flex justify-content-md-end">
                <MudButton Color="Color.Primary" Size="Size.Small" Variant="Variant.Filled" OnClick="OpenCreateModalAsync">@L["AddResourcePermission"]</MudButton>
            </div>
            <MudDataGrid T="ResourcePermissionGrantInfoDto" Items="ResourcePermissionList.Permissions" Dense="true" Hover="true" Bordered="true">
                <Columns>
                    <TemplateColumn T="ResourcePermissionGrantInfoDto" Title="@L["Actions"]" CellStyle="width:100px">
                        <CellTemplate>
                            <MudMenu Label="@L["Actions"]" Variant="Variant.Outlined" Size="Size.Small" AnchorOrigin="Origin.BottomLeft">
                                <MudMenuItem OnClick="@(() => OpenEditModalAsync(context.Item))">@L["Edit"]</MudMenuItem>
                                <MudMenuItem OnClick="@(() => DeleteResourcePermissionAsync(context.Item))">@L["Delete"]</MudMenuItem>
                            </MudMenu>
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn T="ResourcePermissionGrantInfoDto" Title="@L["ResourcePermissionTarget"]">
                        <CellTemplate>
                            <MudTooltip Text="@context.Item.ProviderNameDisplayName">
                                <span class="d-inline-block bg-light rounded-pill px-2 me-1 ms-1 mb-1">@context.Item.ProviderName</span>
                            </MudTooltip>
                            @context.Item.ProviderDisplayName
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn T="ResourcePermissionGrantInfoDto" Title="@L["ResourcePermissionPermissions"]">
                        <CellTemplate>
                            @foreach (var permission in context.Item.Permissions)
                            {
                                <span class="d-inline-block bg-light rounded-pill px-2 me-1 mb-1">@permission.DisplayName</span>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <NoRecordsContent>
                    <MudText>@L["NoDataAvailableInDatatable"]</MudText>
                </NoRecordsContent>
            </MudDataGrid>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                @if (!HasAnyResourcePermission)
                {
                    @L["NoResourcePermissionFound"]
                }
                else if(!HasAnyResourceProviderKeyLookupService)
                {
                    @L["NoResourceProviderKeyLookupServiceFound"]
                }
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="CloseModal">@L["Close"]</MudButton>
    </DialogActions>
</MudDialog>

@if (_isCreateVisible)
{
    <MudDialog @bind-Visible="_isCreateVisible">
        <TitleContent>@L["AddResourcePermission"]</TitleContent>
        <DialogContent>
            <div class="mb-3">
                <MudRadioGroup T="string" Value="@CurrentLookupService" ValueChanged="@OnLookupServiceCheckedValueChanged">
                    @foreach(var keyLookupService in ResourceProviderKeyLookupServices)
                    {
                        <MudRadio Value="@(keyLookupService.Name)">@keyLookupService.DisplayName</MudRadio>
                    }
                </MudRadioGroup>
                <MudAutocomplete T="SearchProviderKeyInfo" Label="@L["Search"]" SearchFunc="SearchProviderKeyFuncAsync" ToStringFunc="@(item => item?.ProviderDisplayName)" ValueChanged="@SelectedProviderKeyChangedAsync" Class="mt-1" />
            </div>
            <div class="mb-3">
                <MudText Typo="Typo.h6">@L["ResourcePermissionPermissions"]</MudText>
                <MudSwitch T="bool" Value="CreateEntity.Permissions.All(x => x.IsGranted)" ValueChanged="GrantAllCreateAsync">@L["GrantAllResourcePermissions"]</MudSwitch>
                <div class="mt-2">
                    @foreach (var permission in CreateEntity.Permissions)
                    {
                        <MudCheckBox T="bool" Value="@permission.IsGranted" ValueChanged="@((c) => OnPermissionCheckedChanged(permission, c))">@permission.DisplayName</MudCheckBox>
                    }
                </div>
            </div>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="CloseCreateModalAsync">@L["Cancel"]</MudButton>
            <MudButton Color="Color.Primary" OnClick="CreateResourcePermissionAsync">@L["Save"]</MudButton>
        </DialogActions>
    </MudDialog>
}

@if (_isEditVisible)
{
    <MudDialog @bind-Visible="_isEditVisible">
        <TitleContent>@L["UpdateResourcePermission"]</TitleContent>
        <DialogContent>
            <div class="mb-3">
                <MudText Typo="Typo.h6">@L["ResourcePermissionPermissions"]</MudText>
                <MudSwitch T="bool" Value="EditEntity.Permissions.All(x => x.IsGranted)" ValueChanged="GrantAllEditAsync">@L["GrantAllResourcePermissions"]</MudSwitch>
                <div class="mt-2">
                    @foreach (var permission in EditEntity.Permissions)
                    {
                        <MudCheckBox T="bool" Value="@permission.IsGranted" ValueChanged="@((c) => OnPermissionCheckedChanged(permission, c))">@permission.DisplayName</MudCheckBox>
                    }
                </div>
            </div>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="CloseEditModalAsync">@L["Cancel"]</MudButton>
            <MudButton Color="Color.Primary" OnClick="UpdateResourcePermissionAsync">@L["Save"]</MudButton>
        </DialogActions>
    </MudDialog>
}
