@inherits LayoutComponentBase
@using Microsoft.Extensions.Options
@using TTShang.AntDesignTheme.Blazor.Settings
@using TTShang.AntDesignTheme.Blazor.Components
@using TTShang.AntDesignTheme.Blazor.Layout
@using Volo.Abp.Ui.LayoutHooks
@using TTShang.AntDesignTheme.Blazor.Components.LayoutHooks
@using AntDesign.ProLayout
@inject IOptions<AbpAntDesignThemeOptions> Options


<AntDesign.ProLayout.BasicLayout 
    MenuData="MenuData"
    MenuAccordion
    @bind-Collapsed="Collapsed">
    <HeaderContentRender>
        <Space Size="@("24")">
            <SpaceItem>
                <Icon Class="action" Type="@(Collapsed?"menu-unfold":"menu-fold")" OnClick="OnCollapse" />
            </SpaceItem>
        </Space>
    </HeaderContentRender>
    <RightContentRender>
        <Row Justify="RowJustify.End">
            <NavToolbar/>
        </Row>
    </RightContentRender>
    <ChildContent>
        <PageAlert/>
        <div class="ant-design-body-content">
            <LayoutHook Name="@LayoutHooks.Body.First" Layout="@StandardLayouts.Application" />
            @if (!Options.Value.EnableMultipleTabs)
            {
                @Body
            }
            else
            {
                <ReuseTabs Class="ant-design-body-reusetabs" TabPaneClass="ant-design-body-reusetabs-tabpane" Draggable></ReuseTabs>
            }
            <LayoutHook Name="@LayoutHooks.Body.Last" Layout="@StandardLayouts.Application" />
        </div>
        <DynamicLayoutComponent />
        <UiPageProgress/>
    </ChildContent>
    <FooterRender>
        <Footer Class="ant-design-footer"></Footer>
    </FooterRender>
</AntDesign.ProLayout.BasicLayout>
